// Body
$width-min:240px;
$width-mobile-s:320px;
$width-mobile-m:375px;
$width-mobile-l:425px;
$width-pc:768px;
$width-1k:1024px;
$width-2k:1440px;
$width-4k:2560px;

// Typography
$font-size-base: 0.9rem;
$line-height-base: 1.6;
